<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit <%= farm.name %></title>
</head>
<body>
	<h2>Edit "<%= farm.name %>"</h2>
	<form action="/farms/<%= farm._id%>?_method=PUT" method="POST">
		<label for="name">Farm Name</label>
		<input type="text" id="name" name="name" value="<%= farm.name %>" required="true" minlength="2" style="max-width:5%">
		<label for="city">City: </label>
		<input type="text" id="city" name="city" value="<%= farm.city %>" required="true" minlength="1" style="max-width:5%">
		<button>Submit</button>
	</form>
	<a href="/farms/<%= farm._id %>">Cancel</a>
</body>
</html>