<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add New Farm Product</title>
</head>
<body>
	<h1><%= farm.name %></h1>
	<h2>Add New Product</h2>
	<form action="/farms/<%= farm._id %>" method="POST">
		<label for="name">Product Name</label>
		<input type="text" id="name" name="name" placeholder="Product Name" required="true" minlength="2" style="max-width:5%">
		<label for="price">Price ($)</label>
		<input type="text" id="price" name="price" placeholder="USD" required="true" minlength="1" size="5">
		<label for="category">Category</label>
		<select name="category" id="category" style="max-width:5%">
			<% for(let category of categories){%>
				<option value="<%=category%>"> <%=category%></option>
			<%}%>
		</select>
		<button>Submit</button>
	</form>
	<a href="/farms/<%= farm._id %>">Cancel</a>
</body>
</html>