<!-- don't need path relative to this file because the layout acts relative to the views folder, 
	 which is the default for 'ejs' -->
<% layout('layouts/boilerplate') %>
	<h1>Edit "<%= campground.title %>"</h1>
	<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
		<div>
			<label for="title">Campground Name:</label>
			<input type="text" id="title" name="title" value="<%= campground.title %>">
		</div>
		<div>
			<label for="location">Campground Location:</label>
			<input type="text" id="location" name="location" value="<%= campground.location %>">
		</div>
		<button>Update</button>
	</form>
	<a href="/campgrounds/<%= campground._id %>">Cancel Edit</a>