<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= product.name %></title>
</head>
<body>
	<h2><%= product.name %></h2>
	<ul>
		<li>Price:&emsp;$<%= product.price%></li>
		<!-- <li>Category:&emsp;<%= product.category%></li> -->
		<li>Category:&emsp;<a href="/products?category=<%= product.category%>"><%= product.category%></a></li>
	</ul>
	<a href="/products">Return to All Products</a>
	<a href="/products/<%= product._id%>/edit">Edit Product</a>
	<form action="/products/<%=product._id%>?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>
</body>
</html>